/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: Lato;  
}
.text-primary{
    color: #E55473;
}
.btn-Primary{
color: #E55473;
display: inline-flex;
padding: 10px 20px;
align-items: center;
gap: 10px;
border-radius: 8px;
}
/* banner-section-styles */
.banner{
    padding: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    color: #272727;
    background: rgba(229, 84, 115, 0.10);      
}

/* main-section-styles */
.about{
    padding: 30px;
    background: #FFF;
}
.section-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.section-paragraph{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30p
}
/* featured-realted-stlyes */
.Featured{
    width: 1440px

    align-items: baseline;
    display: flex;
    justify-content: space-between;
}
.featured-more{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
color: #A7216226;
}
.featured-more-1{
     border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
/* ico-related-stlye */
.icon{
    display: flex;
    width: 1300px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: space-between;
}
    /* hot-deal-related-styles */
.hot-deal{
    justify-content:space-between;
    display: flex;
    text-align: center;
    background: rgba(229, 84, 115, 0.05);
}
/* instragram-related-styles */
    .instragram{
        justify-content: center;
    }
    .picture{
        display: flex;    
        width: 594px; }
.instragram-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.flowe-image{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.flower-images{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.flower-background{
    text-align: center;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
background: url(./Flower/Rectangle\ 9.png), 
lightgray 0px -203.444px / 100% 213.755% no-repeat;}
/* email-related-styles */
.email-input{
        width: 700px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
}
.btn-Primary{
        justify-content: right;
        width: 100px;
        height: 50px;
        border-radius: 8px;
        background: #E55473;
}
/* fotter-related-stles */
.footer-section{
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
    text-align: center;
}
.footer-1{color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.fotter-2{
    color: #ffffff;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.fotter-para{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.fotter-para-1{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}